* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #f4f6f8;
}

input,
button,
form,
label {
    font-family: inherit;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    width: 100%;
}

.header-top {
    /* background: #FF512F; 
    background: -webkit-linear-gradient(to right, #F09819, #FF512F);  */
    width: 100%;
    background: white;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10em;
    color: white;
}

.header-top .btn {
    padding: 1.2em 1.2em;
    border-radius: 8px;
    font-size: 1rem;
    color: black;
}

.main-menu {
    display: flex;
    align-items: center;
    padding: .5em 10em;
    /* background: linear-gradient(to right, #F09819, #FF512F);  */
}

.main-menu-buttons {
    width: 100%;
    padding-bottom: .5em;
    border-bottom: solid 1px #d6d6d6;
    font-size: 1rem;
}

.main-menu .menu-button {
    font-size: 1em;
}

/* .account-btn, .footer-user-button {
    background-color: #d60019;
} */

.ant-btn-variant-text:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: #eeeeee;
    color: #d60019;
}

.custom-dropdown {
    z-index: 10;
}

.custom-dropdown .ant-dropdown-menu {
    padding: 1em;
}

.ant-dropdown-menu-title-content {
    font-size: 1rem;
}

.header-user-button {
    background-color: white;
    color: black !important;
}

.header-user-button:hover {
    color: #d60019 !important;
}

/* Page promotions section */
.page-promotion {
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1.5fr;
    gap: 1em;
    margin-bottom: 4em;
}

.promotion-carousel {
    max-width: 100%;
    overflow: hidden;
}

.promotion-carousel img {
    max-width: 100%;
}

.inline-menu {
    border-radius: 8px;
    padding-right: 2em;
}

.latest-news {
    border-radius: 8px;
    padding: 1em;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.latest-news-title {
    font-weight: bold;
    color: #d60019;
}

.home-latest-news-container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.home-latest-news-container p {
    font-weight: 550;
    font-size: .8rem;
}

.home-latest-news-container img {
    width: 50px;
}


/* Smartphone section */
.smartphone-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.smartphone-section h1 {
    margin-bottom: .5em;
}

.smartphone-section button {
    border: 0;
    border-radius: 6px;
    border: solid 1px rgb(216, 216, 216);
    padding: .5em 1em;
    cursor: pointer;
}

.smartphone-section button img {
    height: 15px;
}

.brand-list {
    display: flex;
    gap: .5em;
}


/* Home page products view */
main {
    margin-block: 2em;
    padding: 1em 10em;
}

.products-view {
    /* width: 100%; */
    margin-top: 20px;
    margin-bottom: 4em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
}

.product-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1em;
    border-radius: 15px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.15);
    padding: 2em 1em;
}

.product-container img {
    display: block;
    max-width: 100%;
    height: 150px;
    margin: 0em auto;
    object-fit: cover;
}

.product-container:hover img {
    transform: translateY(-15px);
    transition: ease-in-out 0.2s;
}

.product-name {
    font-size: .9em;
    font-weight: bold;
    height: 2rem;
}

.product-price {
    font-size: 1.1em;
    color: #d60019;
    font-weight: bold;
}

.product-price span {
    margin-left: 1em;
    color: rgb(26, 26, 26);
    font-size: .8em;
    font-weight: 600;
    text-decoration: line-through;
}

.product-rating {
    display: flex;
    align-items: center;
    gap: .5em;
    font-size: 0.8em;
}

.ant-rate .ant-rate-star:not(:last-child) {
    margin-inline-end: 4px;
}

/* Login page */
.login-container {
    width: 300px;
    margin-top: 6em;
    margin-inline: auto;
}

.login-container h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

/* Signup page */
.signup-container {
    width: 400px;
    margin-top: 6em;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-container h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.signup-container a {
    color: #d60019;
}

/* Product detail page */
.product-detail-page {
    padding: 3em 10em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.detail-breadcrumb {
    margin-bottom: 1em;
}

.product-detail-display {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}

.left-container {
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    flex: 1 300px;
}

.product-image-large {
    min-width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}

.small-image-container {
    height: 150px;
    width: 150px;
    /* border: solid 1px rgb(215, 215, 215); */
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.product-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.product-images img {
    max-height: 100%;
    object-fit: cover;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 3em;
    border-radius: 10px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    flex: 1 300px;
}

.vat-price {
    color: rgb(122, 122, 122);
    font-style: italic;
}

.action-btns {
    display: flex;
    gap: 1em;
}

.product-reviews {
    padding: 3em;
    border-radius: 10px;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.product-reviews .review {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-bottom: 1em;
}

/* Products by category */
.products-by-category .brand-filter,
.products-by-category .filter-buttons {
    margin-block: 1.5em;
    display: flex;
    gap: .5em;
}

.active-sort {
    background-color: #d60019 !important;
    /* Màu nền khi được chọn */
    color: white !important;
    /* Chữ trắng để nổi bật */
    border-color: #d60019 !important;
}

/* Footer */
footer {
    margin-top: 4em;
    padding: 4em 10em;
    border-top: solid 1px #d6d6d6;
    background-color: white;
}

.upper-footer {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.footer-company {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    /* gap: 0.3em; */
}

.footer-company h2 {
    margin-bottom: .5em;
}

.footer-btns {
    padding: 0;
}

.footer-btns span {
    color: black;
}

.footer-btns span:hover {
    color: #d60019;
}

.call-centers {
    display: flex;
    gap: 2em;
}

.call-center {
    display: flex;
    flex-direction: column;
    gap: .7em;
}

.footer-small {
    display: none;
}

/* Cart page */
.cart-page {
    padding: 2em 10em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
}

.product-in-cart-container {
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(145, 158, 171, .239);
    background-color: white;
    padding: 1em;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1em;
    margin: 0 auto;
    flex: 1;
}

.cart-product-img {
    width: 90px;
    display: flex;
    justify-content: center;
}

.cart-product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-block: .5em;
}

.cart-product-info>div>p {
    font-size: .9rem;
}

.quantity-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-block: .3em;
}

.cart-product-quantity {
    height: 2rem;
}

.total-cart-value {
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(145, 158, 171, .239);
    background-color: white;
    padding: 1em;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.total-cart-left {
    display: flex;
    flex-direction: column;
    gap: .3em;
}

.total-cart-left span {
    font-size: 1.1em;
    color: #d60019;
    font-weight: bold;
}

.price-note {
    color: rgb(99, 115, 129);
    font-size: 0.75rem;
}

.buynow-btn {
    font-size: 1.15rem;
    padding: 1em 1em;
}

.ant-btn-variant-outlined:not(:disabled):not(.ant-btn-disabled):hover {
    color: #d60019;
    background-color: #eeeeee;
}

/* Trang tin tức */
.news-list {
    padding: 2em 10em;
}

.news-list h1 {
    margin-bottom: 1em;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.news-item {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 2em;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}

.news-item h2 {
    font-size: 1.1rem;
}

.news-item p {
    font-size: .8rem;
    color: rgb(104, 104, 104);
}

.news-preview {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.news-item img {
    width: 100%;
    height: auto;
}

.news-detail {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 5em 15em;
    padding: 2em;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);
}

.news-detail img {
    width: 100%;
    height: auto;
}

/* Trang Quên mật khẩu   */
.forgot-password-container {
    width: 300px;
    margin-top: 6em;
    margin-inline: auto;
}

@media (max-width: 1280px) {

    .header-top,
    .main-menu,
    main,
    footer,
    .cart-page,
    .news-list {
        padding: 1em 3em;
    }

    .products-view {
        grid-template-columns: repeat(4, 1fr);
    }

    .product-detail-page {
        padding: 3em 3em;
    }
}

@media (max-width: 1024px) {

    .header-top,
    .main-menu,
    main,
    footer,
    .cart-page,
    .news-list {
        padding: 1em 1em;
    }

    .header-top .btn {
        display: flex;
        flex-direction: column;
        padding-block: 1.7em;
    }

    .page-promotion {
        grid-template-columns: 1fr 2.5fr;
    }

    .latest-news {
        display: none;
    }

    .product-container {
        gap: 10px;
    }

    .product-price span {
        display: block;
        margin: 0;
    }
}

@media (max-width: 850px) {

    .header-news-button,
    .header-user-button {
        display: none !important;
    }

    .inline-menu {
        display: none;
    }

    .page-promotion {
        grid-template-columns: 1fr;
    }

    .products-view {
        grid-template-columns: repeat(3, 1fr);
    }

    .account-btn {
        display: none !important;
    }

    .news-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-user-button {
        background-color: white;
        color: black !important;
    }

    .footer-user-button:hover {
        color: #d60019 !important;
    }

    footer {
        display: none;
    }

    .footer-small {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: white;
        padding: .5em;
        z-index: 10;
    }

    .footer-small-screen {
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
    }

    .footer-small-screen button {
        display: flex;
        flex-direction: column;
        border: 0;
        font-size: 1rem;
        padding-block: 1.7em;
    }

    .footer-dropdown .ant-dropdown-menu {
        padding: 1em;
        padding-right: 4em;
    }

    .footer-dropdown .ant-dropdown-menu span,
    .footer-dropdown .ant-dropdown-menu-item-icon {
        font-size: 1.2rem !important;
    }

    .footer-dropdown .ant-dropdown-menu-item {
        gap: 1em;
    }

    .contact-page {
        padding: 5em 7em;
    }

    .contact-page .upper-footer {
        display: grid;
        grid-template-columns: 1fr;
        /* justify-items: center; */
    }

    .contact-page .footer-buying-guide {
        display: none;
    }

    .contact-page .call-centers {
        display: grid;
        grid-template-columns: 1fr;
    }

    .news-detail {
        margin-inline: 5em;
    }
}

@media (max-width: 600px) {

    .header,
    .header-top .btn {
        font-size: .8rem !important;
    }

    .ant-input-affix-wrapper {
        font-size: .8rem !important;
    }

    .header-top {
        gap: 0.5em;
    }

    .header-top .call-button {
        display: none;
    }

    .products-view {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-small-screen button {
        font-size: .8rem !important;
    }

    .news-detail {
        margin: 1em 1em;
    }

    .news-detail h1 {
        font-size: 1.2rem;
    }

    .news-detail p {
        font-size: 0.9rem;
    }

    .news-container {
        grid-template-columns: 1fr;
    }
}